h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: white 0px 0px 2px;
}

.icon-left {
  position: absolute;
  top: 5%;
  left: 3%;
}

.icon-right {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.sonwflake {
  color: blue;
}

.sun {
  color: red;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: lightgray;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color:orange;
}