body {
  margin-top: 1%;
  margin-bottom: 2%;
}
li {
  list-style-type: none;
  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
}
.form-control, .list-group-item {
  width: 20%;
  margin: 0 auto;
}
.jumbotron {
  text-align: center;
}
button {
  width: 100px;
  height: 40px;
}
.special {
  color: blue;
}
.tab-panels ul {
  margin: 0;
  padding: 0;
}

.tab-panels ul li {
  list-style-type: none;
  display: inline-block;
  background: #999;
  margin: 0;
  padding: 3px 10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
}
.tab-panels ul li:hover {
  color: #fff;
  background: #666;
}

.tab-panels ul li.active {
  color: #fff;
  background: #666;
}

.tab-panels .panel {
  display: none;
  background: #c9c9c9;
  padding: 30px;
  border-radius: 0 0 10px 10px;
}

.tab-panels .panel.active {
  display: block;
}

#slider {
  width: 720px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}
#slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}

ul li .edit {
  display: none;
}

ul li.edit .edit {
  display: initial;
}

ul li.edit .noEdit {
  display: none;
}